* {
  margin: 0;
  padding: 0;
}

.all-areas {
  /* display: grid;
  grid-template-columns: 2fr 1fr; */
  display: flex;
  align-content: center;
}

.left-area {
  padding-left: 1rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #303030;
  width: 60%;
}

.operator {
  padding-bottom: 2rem;
  height: 10rem;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 4rem;
  text-align: end;
}

.button-style {
  height: 7rem;
  width: 100%;
  font-size: 2rem;
}

.input-fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  height: 50%;
  width: 100%;
}

#Output {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  align-self: self-start;
  text-align: end;
  gap: 2rem;
  font-size: 4rem;
  width: 40%;
  max-height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .operator {
    font-size: 2rem;
  }
  #history {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 630px) {
  .operator {
    font-size: 1rem;
  }
  #history {
    font-size: 1rem;
  }
}
